extends layout

block content
  div(id= "container-L1")

    div(id= "load-container-L1")

      div(id= "block-1-picture" style="")
        img.image(id = "death-alley-img" src='images/death-alley.png')
        div(id= "death-alley-logo-cont")
          img.image(id = "death-alley-logo" src='images/death-alley-logo.jpg')


      div(id= "block-2")
        div(class= "album-info-container")
          div(class= "album-title") Black Magick Boogieland
          div(class= "album-description") Released in 2015 on TeePee Records, Black Magick Boogieland signifies the fundament of Death Alley's journey. This debut full length is recorded, mixed, and mastered by Pieter Kloos at Void Studios, Eindhoven - December 2014.
                                          br
                                          br
                                          |"Have you ever dared to look behind the curtain, and gaze upon the Black Magick Boogieland? Ever shaken hands with the strangers there, and let the primitives take you by the hand?"
        div(class= "spotify-container")
          <iframe src="https://open.spotify.com/embed/album/0UGah0FeQTawgwBOx24Jea" width="100%" height="300px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

      div(id= "block-3")
        div(class= "album-info-container")
          div(class= "album-title") Superbia
          div(class= "album-description")   After a period of relentless touring and turmoil, the Death Alley is re-invented, re-born, and ready to take on the world with their refined brand of infectious yet challenging rock ‘n’ roll. Released in March 2018 through Century Media Records, Superbia is the follow-up to the 2015 debut album Black Magick Boogieland. Recorded by the same Pieter Kloos, this time at Moon Studios, Maasbracht  - September 2017.
                                            br
                                            br
                                            |”Where ‘Black Magick Boogieland’ is the invitation to a parallel universe of the unknown, this one is about what you get when you accept the invite.”
        div(class= "spotify-container")
          <iframe src="https://open.spotify.com/embed/album/2aBAKs25xWDc2DK1ffXvpc" width="100%" height="300px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      div(id= "block-4")
        div(id= "disc-text-container")
          a(href= "https://www.deathalley.nl")
            div(id= "hive-mind")    Death Alley
                                    br
                                    |deathalleyband@gmail.com
                                    br
          a(href= "http://radar-agency.com/")
            div(id= "radar-agency") Radar Agency
                                    br
                                    |info@radar-agency.com
                                    br
                                    |Bookings NL&Belgium
          a(href= "http://www.swampbooking.com/")
            div(id= "swampbooking") Swamp Bookings
                                    br
                                    |soundofcobra@gmail.com
                                    br
                                    |Bookings Europe

        div(id= "social-media")
          div(id= "fb-icon")
            a(href="https://www.facebook.com/deathalleyband/?ref=br_rs")
              img.image(id = "fb-icon-src" src= "images/icons/fb-icon-grey.png")

          div(id= "yt-icon")
            a(href="https://www.youtube.com/channel/UCr97i6feTNmy2il906N-L0Q/feed")
              img.image(id = "yt-icon-src" src= "images/icons/yt-icon-grey.png")

          div(id= "spotify-icon")
            a(href="https://open.spotify.com/artist/1KXECEUuIe0WcHljWIaDrQ?si=4RqhmHJsTOKizkMgWdffrw")
              img.image(id = "spotify-icon-src" src= "images/icons/spotify-icon-grey.png")


      div(id="container-L2")
        div(id= "links-container")
          div(id= "triangle-1")
        div(id= "block-menu")
          div(id= "menu-button-1") News
          div(id= "menu-button-2") Music
          div(id= "menu-button-3") Tour
          div(id= "menu-button-4") Shop
        div(id= "rechts-container")
          div(id= "triangle-2")
