extends layout

block content
  div(id= "container-L1")
    div(id= "load-container-L1")
      div(id= "block-1-picture")
        img.image(id = "death-alley-img" src='images/death-alley-tour.jpg')
        div(id= "death-alley-logo-cont")
          img.image(id = "death-alley-logo" src='images/death-alley-logo.jpg')
      div(id= "block-2-tour")
        <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="death alley" data-display-local-dates="false" data-display-past-dates="true" data-auto-style="false" data-text-color="#cccccc" data-link-color="#FFFFFF" data-popup-background-color="#000000" data-background-color="#000000" data-display-limit="" data-link-text-color="#000000"></a>

      div(id= "block-3-tour")
        div(id= "disc-text-container")
          a(href= "https://www.deathalley.nl")
            div(id= "hive-mind")    Death Alley
                                    br
                                    |deathalleyband@gmail.com
                                    br
          a(href= "http://radar-agency.com/")
            div(id= "radar-agency") Radar Agency
                                    br
                                    |info@radar-agency.com
                                    br
                                    |Bookings NL&Belgium
          a(href= "http://www.swampbooking.com/")
            div(id= "swampbooking") Swamp Bookings
                                    br
                                    |soundofcobra@gmail.com
                                    br
                                    |Bookings Europe

        div(id= "social-media")
          div(id= "fb-icon")
            a(href="https://www.facebook.com/deathalleyband/?ref=br_rs")
              img.image(id = "fb-icon-src" src= "images/icons/fb-icon-grey.png")

          div(id= "yt-icon")
            a(href="https://www.youtube.com/channel/UCr97i6feTNmy2il906N-L0Q/feed")
              img.image(id = "yt-icon-src" src= "images/icons/yt-icon-grey.png")

          div(id= "spotify-icon")
            a(href="https://open.spotify.com/artist/1KXECEUuIe0WcHljWIaDrQ?si=4RqhmHJsTOKizkMgWdffrw")
              img.image(id = "spotify-icon-src" src= "images/icons/spotify-icon-grey.png")

    div(id="container-L2")
      div(id= "links-container")
        div(id= "triangle-1")
      div(id= "block-menu")
        div(id= "menu-button-1") News
        div(id= "menu-button-2") Music
        div(id= "menu-button-3") Tour
        div(id= "menu-button-4") Shop
      div(id= "rechts-container")
        div(id= "triangle-2")
